@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap");
* {
  color: white;
}

#button {
  padding: 15px 35px;
  border: 2px solid white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .emailOBC {
  text-decoration: none;
  color: white;
}
.footer .emailOBC:hover {
  color: #b9b9b9;
}

.logoPc {
  width: 240px;
  margin-left: -10px;
  margin-right: 20px;
}

.copyOBC {
  color: #555252;
}

#navItem {
  margin-left: 30px;
}
#navItem:hover {
  color: #b9b9b9;
}

@media (max-width: 405px) {
  .logoPc {
    width: 180px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .logoPc {
    width: 150px;
    margin-top: 15px;
  }
}
.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 240px;
}
.downloadDesc a {
  text-decoration: none;
  color: #b9b9b9;
}
.downloadDesc a:hover {
  color: #d8d8d8;
}
.downloadDesc button {
  border: 2px solid white;
  margin-right: 10px;
}

.arrowDown {
  display: inline-block;
  width: 90px;
  margin-top: 5px;
}

.container00.container01 {
  background-image: url(../../images/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../images/home/03.jpg);
}
.container00.container03 {
  background-image: url(../../images/home/02.gif);
}
.container00.container04 {
  background-image: url(../../images/home/04.jpg);
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: 25px;
}

@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
.container00.container05 {
  background-image: url(../../images/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../../images/falcon9/02.jpg);
}
.container00.carousel01 {
  background-image: url(../../images/falcon9/03.jpg);
}
.container00.carousel02 {
  background-image: url(../../images/falcon9/04.jpg);
}
.container00.carousel03 {
  background-image: url(../../images/falcon9/05.jpg);
}
.container00.carousel04 {
  background-image: url(../../images/falcon9/06.jpg);
}
.container00.carousel05 {
  background-image: url(../../images/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(../../images/falcon9/08.jpg);
}

.titleFalcon9 {
  font-size: 90px;
  font-family: "Rubik", sans-serif;
  font-weight: 514;
}

.titleContent {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}

.numbers {
  padding-top: 10vh;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.numbers .titleNumb {
  font-size: 40px;
}
.numbers .subtitleNumb {
  font-size: 20px;
}

.falcon9Desc {
  font-size: 20px;
  width: 640px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 80vh;
  align-items: center;
  justify-content: left;
}

#overviewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carouselSlide img {
  height: 100vh;
}

.carouselText {
  background-color: black;
}

.footer {
  background-color: black;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b9b9;
}

.copyOBC {
  color: #555252;
}

@media (max-width: 1024px) {
  .numbers p {
    font-size: 18px;
  }
  .falcon9Desc {
    font-size: 26px;
  }
  #overviewPosition {
    display: block;
    width: 500px;
    margin-left: 13%;
    padding-top: 20%;
  }
}
@media (max-width: 425px) {
  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
  }
  .titleFalcon9 {
    font-size: 50px;
  }
  .numbers h1 {
    font-size: 40px;
  }
  .numbers p {
    font-size: 14px;
  }
  .containerFalcon9Desc p {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
  #overviewPosition {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
  }
  .titleOverview {
    font-size: 26px;
    font-weight: bold;
  }
  .subtitleOverview {
    font-size: 20px;
    font-weight: 300;
  }
}
@media (max-width: 510px) {
  .downloadDesc button {
    margin: 10px 0px;
  }
}
#widthTable {
  width: 500px;
}

.container00.container08 {
  background-image: url(../../images/humanFlight/01.jpg);
}
.container00.container09 {
  background-image: url(../../images/humanFlight/02.jpg);
}
.container00.container10 {
  background-image: url(../../images/humanFlight/03.jpg);
}
.container00.container11 {
  background-image: url(../../images/humanFlight/04.jpg);
}
.container00.container12 {
  background-image: url(../../images/humanFlight/05.jpg);
}

.titleContent {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleContent .titleHumanSpaceflight {
  font-size: 120px;
}
.titleContent .subtitleHumanSpaceflight {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 300;
}

.earthDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.earthDesc .textDescEarth {
  color: #d8d8d8;
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 15%;
}

.missionTitle {
  font-size: 60px;
  font-weight: bold;
}

.missionDesc {
  font-weight: 300;
  margin-bottom: 40px;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

@media (max-width: 768px) {
  .titleContent .titleHumanSpaceflight {
    font-size: 90px;
  }
  .titleContent img {
    width: 150px;
  }
  .containerRightContent {
    margin-left: 15%;
    padding-top: 15%;
  }
  .containerLeftContent {
    margin-left: 15%;
    padding-top: 15%;
  }
  .textDescEarth {
    width: auto;
    font-size: 18px;
  }
}
@media (max-width: 610px) {
  .titleContent .titleHumanSpaceflight {
    font-size: 60px;
  }
  .titleContent .subtitleHumanSpaceflight {
    font-size: 24px;
  }
  .containerRightContent {
    margin-left: 5%;
    padding-top: 15%;
  }
  .containerLeftContent {
    margin-left: 5%;
    padding-top: 15%;
  }
  .missionTitle {
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .titleContent .titleHumanSpaceflight {
    font-size: 30px;
  }
  .titleContent .subtitleHumanSpaceflight {
    font-size: 12px;
  }
  .titleContent img {
    width: 100px;
  }
  .textDescEarth {
    width: auto;
    font-size: 12px;
  }
  .missionTitle {
    font-size: 40px;
    font-weight: bold;
  }
  .missionDesc {
    font-weight: 300;
    margin-bottom: 40px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
